<section>
    <article class="main__container container-5" data-aos="fade-bottom">
        <h4 class="main__subtitle">Posibles errores</h4>
        <h5 class="title__error">404 Not found:</h5>
        <ul>
        <li class="list__error">
            <strong>Causa:</strong> El recurso solicitado no existe
        </li>
        <li class="list__error">
            <strong>Solución:</strong> Verifica que la URL y los
            parámetros sean correctos
        </li>
        </ul>
        <h5 class="title__error">500 Internal Server Error:</h5>
        <ul>
        <li class="list__error">
            <strong>Causa:</strong> Ocurrió un error en el servidor
        </li>
        <li class="list__error">
            <strong>Solución:</strong>
            Intenta nuevamente más tarde
        </li>
        </ul>
        <h5 class="title__error">400 Bad Request:</h5>
        <ul>
        <li class="list__error">
            <strong>Causa:</strong> La solicitud es inválida
        </li>
        <li class="list__error">
            <strong>Solución:</strong>
            Revisa la documentación de la API, para asegurarte de que
            estás enviando los parámetros correctos
        </li>
        </ul>
    </article>
</section>