<section class="w-full h-full max-h-full flex flex-col items-center overflow-y-hidden">
    <h1 id="title" class="h-28 text-center text-4xl md:text-6xl lg:text-8xl font-black text-[#4A8073] overflow-hidden whitespace-nowrap animate-typing motion-reduce:animate-none">GeoArgentina API</h1i>
    <h2 class="text-center text-base md:text-3xl font-semibold leading-tight text-slate-700 overflow-hidden animate-fade motion-reduce:animate-none">
      Bienvenido a la API de Geolocalización de Argentina. Esta te permite acceder a información sobre provincias, departamentos y localidades del país. 
      A continuación, te mostramos cómo puedes empezar a utilizarla y los endpoints disponibles.
    </h2>
</section>

<style>
    section {
        padding: 0;
    }

    @media (min-width: 768px) {
		section {
			padding: 0 10rem;
		}
	}
    
    h1 {
    margin: 9rem 0 1.4rem 0;
    }

    @media (width <=  40rem) {
        h1 {
            margin: 5rem 0 0 0;
        }
    }

    h2 {
        margin: 0 0 7rem 0;
    }
</style>

