---
import Layout from "@layouts/Layout.astro";
import Example from '@components/Example.astro'
---

<Layout>
    
    <section class="px-6 mb-20 flex flex-col gap-6">

        <Example lang="NodeJS" src="/public/icons/nodeJs.svg" alt="NodeJs"/>

        <Example lang="Python" src="/public/icons/python.svg" alt="Python"/>

    </section>
</Layout>