---
const { href, title, target, ariaLabel } =  Astro.props
---

<a 
class="min-w-full min-h-full text-base font-bold flex items-center gap-2 justify-center transition-all"
href={href}
title={title}
target={target}
aria-label={ariaLabel}
>

    <slot />
</a>
